<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/data_sheet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wagner_Vladislav"
        tools:targetApi="31">
        <activity
            android:name=".activities.AlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PatientsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QueryResultActivity"
            android:exported="false" />
        <activity
            android:name="com.step.wagner.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>